*{
    margin: 0;
    padding: 0;

}

.h1{
    text-align: center;
}
header{
    background-image:url(bg3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-bar{
    background: rgb(0, 0, 0, 0, 0.5);
    height: 80px;

}

.logo{
    margin: 10px 50px;
    height: 60px;
  
}

.menu{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li{
    display:inline-block;
    margin: 15px 15px;   
}

.menu li a{
    text-decoration:none;
    color: rgb(215, 233, 51);
    padding: 7px 15px;
    font-family:Impact;
    letter-spacing: 3px;
    border: 3px solid rgb(14, 191, 235);
}

.menu li a:hover{
    background: rgb(255, 255, 255);
    transition: 0.4s;
    color: rgb(22, 182, 57);

}

.welcome{
    position:relative;
    text-align: center;
    font-family: Franklin Gothic Medium;
    color: rgb(255, 254, 254);
    top: 160px;
}

.welcome h1{
    font-size: 55px;
    margin: 35px;
}

.btn1{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 8px 10px;
    text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(75, 189, 104);
}

.btn2{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 8px 10px;
    text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(192, 7, 32);
}

.btn2:hover{
    background: #fff;
    color: #000;
    transition: .4s;
}

